.projects {
    display: flex;
    max-width: 80%;
    align-items: center;
    flex-direction: column;
    padding: 24px 0px 0px;
    margin: 0 auto;
}

.projects__title {
  font-size: 2em;
  color: white;
  margin-bottom: 12px;
  text-align: center;
}

.projects__carrossel-projects {
    width: 100%;
    max-width: 310px;
    height: 480px;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    gap: 160px;
    padding: 0px 80px;
    margin-bottom: 20px;

}

.projects__carrossel-projects::-webkit-scrollbar {
  height: 8px;
}

.projects__carrossel-projects::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 20px;
}

.projects__carrossel-projects::-webkit-scrollbar-thumb {
  background-color: var(--color2);
  border-radius: 20px;
}

.carrossel-projects_box-projects {
    display: block;
    position: relative;
    width: 220px;
    height: 360px;
    box-shadow: 3px 1px 17px 5px rgba(0, 0, 0, 0.767);
    border-radius: 20px;
    transition: all 0.8s;
    flex: none;
    cursor: pointer;
}
  

  .carrossel-projects_box-projects:hover {
    transform: scale(1.05);
  }

  .box-projects__img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .carrossel-projects_box-projects > img{
    opacity: 0.76;
  }

  
  .carrossel-projects_box-projects h3 {
    position: absolute;
    top: 50px;
    left: -45px;
    font-size: 1.8em;
    color: white;
    text-shadow: -1px 1px 11px white;
  }
  
  
  
  .carrossel-projects_box-projects p {
    font-size: 0.75em;
    position: absolute;
    top: 135px;
    left: -53px;
    color: white;
    text-shadow: 2px 0px 11px white;
  }
  
  .github,.github--projeto  {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: black;
    color: #fff;
    font-size: 1.45em;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s;
    z-index: 2;
  } 
  
  .github img, .github--projeto img {
    width: 22px;
    height: 22px;
  }
  
  
  .github:hover, .github--projeto:hover {
    transform: scale(1.1);
  } 

  .projetotela {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: #000000a8;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projetotela--box {
    width: 320px;
    min-height: 280px;
    background-color: #1D1D1D;
    box-shadow: 6px 3px 10px 2px rgba(0, 0, 0, 0.356);
    border-radius: 20px;
    position: relative;
    padding: 25px;
    color: white;

}

.projetotela__box--title {
    font-weight: bold;
    font-size: 1.2em;
}

.projetotela__box--escola {
    color: rgba(255, 255, 255, 0.685);
    margin-bottom: 15px;
    font-size: 1em;
}

.projetotela__box--habilidade__lista {
    margin: 6px 0px;
    color: #06ff1b;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    animation: animate 15s linear infinite;
}

.projetotela__box--habilidade__lista li::before {
  content: "#";
}

.projetotela__box--habilidade__lista li {
  list-style: none;
}

.close {
    position: absolute;
    top: 6px;
    right: 6px;
    color: white;
    font-size: 1.9em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.projetotela__box--link {
    position: absolute;
    bottom: 25px;
    color: var(--color3);
    text-decoration: none;
    margin-top: 30px;
}

.projetotela__box--link:hover {
    color: white;
    text-decoration: underline;
}

.github--projeto {
  bottom: 15px;
  right: 20px;
}

.projetotela__box--text {
  margin-top: 10px;
  color: #ffffffc9;
  font-size: 0.9em;
}

  @media screen and (min-width: 500px) {
    .projects__carrossel-projects {
      max-width: 400px;
    }
  }
  @media screen and (min-width: 1020px) {
    .projects__carrossel-projects {
      max-width: 780px;
    }
  }
  

  @keyframes animate
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}