.sidebar {
    width: 200px;
    background-color: #000;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar div {
    background:#000 center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar div img{
    width: 180px;
    display: block;
}

.sidebar a {
    display: block;
    padding: 16px;
    display: flex;
    text-decoration: none;
    color: rgba(255,255,255, 0.7);
    flex-direction: row;
    align-items: center;
    transition: ease-in-out 0.4s;
}

.sidebar a svg{
    margin-right: 0.5rem;
}

.sidebar a:hover {
    background-color: #121212;
    color: #FFF;
}

.content {
    margin-left: 200px;
    padding: 1px 16px;
}


@media screen and (max-width: 700px){
    .sidebar{
        width: 100%;
        height: auto;
        position: relative;
    }

    div.content {
        margin-left: 0;
    }

    .sidebar a {
        float: left;
    }

    .sidebar div, .sidebar a svg {
        display: none;
    }
}