.container {
    display: flex;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding:  0.8rem;
    align-items:  center;
    margin-bottom: 1em;
}

.container--bottons {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 60px;
    position: relative;
    align-items: center;
}

.container-bottons__right, .container-bottons__left {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.container-bottons__right {
    right: -20px;
}

.container-bottons__left {
    left: -20px;
}

.container__bottons-btn {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    border: none;
    box-shadow: 1px 1px 1px black;

}

.label-avatar {
    width:  280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor:  pointer;
}

.label-avatar input {
    display: none;
}

.label-avatar span {
    z-index: 99;
    position: absolute;
    transform: scale(1.2);
    opacity: 0.7;
    transition: all 0.5s;
}

.label-avatar span:hover {
    transform: scale(1.4);
    opacity: 1;
}

.form-profile img {
    margin-bottom: 1em;
    border-radius: 50%;
    object-fit: cover;
}

.form-profile label{
    margin-bottom: 0.5em;
    font-size: 1.4em;
}

.form-profile input, select {
    height: 40px;
}

.form-profile textarea  {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 0;
    border-radius: 5px;
    max-width: 600px;
}

.form-profile input:disabled {
    cursor: not-allowed;
}

.form-profile button {
    max-width: 600px;
}


.logout-btn {
    padding: 8px 20px;
    border: 1px solid #121212;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}