:root {
  --color1: #1D1D1D ;
  --color2: #8B11BB;
  --color3: #56E39F;
  --color4: #181818;
  --color5: #ffffff;
  --color_txt: rgba(255, 255, 255, 0.774);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body {
  background-color: #1D1D1D;
}